<div>
  <app-media-card [landscape]="false" >
    <app-adc-media-card-container 
    [containerType]="'main'" [bounded]="true">
        <div>
          <app-adc-media-card-image [image]=imagePath [type]="'cover'" [ratio]="'ratio-3-2'"></app-adc-media-card-image>
          <div > 
            <app-adc-media-card-header [header]="'{Title} goes here'" [description]="'description is here !!!'"></app-adc-media-card-header>      
            <app-adc-media-card-body>
              <p> slot:body </p>
              </app-adc-media-card-body>
          </div>
        </div>
          <app-adc-media-card-footer [padding]="false">
            <p>slot:footer</p>
          </app-adc-media-card-footer>
    </app-adc-media-card-container>
  </app-media-card>
</div>