<div>
  <app-media-card [landscape]="true" >
      <app-adc-media-card-container [containerType]="'alt'">
        <app-adc-media-card-image [image]=imagePath [type]="'cover'" [ratio]="'ratio-2-1'"></app-adc-media-card-image>
         <app-adc-media-card-header>
          <h3>Title</h3> 
         </app-adc-media-card-header>      
          <app-adc-media-card-body>
            <p> slot:body </p>
          </app-adc-media-card-body>
          <app-adc-media-card-footer>
            <p>slot:footer</p>
          </app-adc-media-card-footer>
    </app-adc-media-card-container>
  </app-media-card>
</div>