img{
    border-radius: 10px 10px 0px 0px;
    width:355px;
    height: 200px;
}
.cover{
    width:355px; 
}
.insert{
    width:326px;

}
.insert-large{
    width: 600px;
}
.ratio-16-9{
    aspect-ratio: 16 / 9;
}
.ratio-2-1{
    aspect-ratio: 2.35 / 1;
}
.ratio-3-2{
    aspect-ratio: 3 / 2;
}
.ratio-1-1{
    aspect-ratio: 1 / 1;
}